# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Django
*.sqlite3
db.sqlite3
db_storage/
staticfiles/
media/

# Logs
logs/
*.log

# Entornos y secretos
.env
.env.*
!.env.example

# Testing
.coverage
htmlcov/
.pytest_cache/
coverage.xml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
